# ignora la carpeta con los programas de C++.
C++/programas

# ignora la carpeta con los programas de Java.
Java/programas

# ignora las carpetas con los programas de Javascript.
JavaScript/JSON_plchldr

# ignora la carpeta con los programas de Python.
Python/programas

# ignora la carpeta con código de práctica.
practica